<h1> Codeial / <%=title%> </h1>


<!-- <html>
    <head>
        <title><%=title %> </title>
    </head>
    <body>
        
        <!- <header>
            Page Header
        </header> -->
        <!-- <%- include('_header'); %>
        <h1> Codeial / <%=title%> </h1>
        <%- include('_footer'); %> -->
        <!-- <footer>
            Page Footer
        </footer> ->
    </body>
    
</html> -->